.normalBtn {
    background: #3881e0;
    color: #fff;
    border-radius: 1.5rem;
    text-align: center;
    height:3rem;
    line-height: 3rem;
}

.disableBtn {
    background: #c5c5c5;
    color: #555555;
    text-align: center;
    border-radius: 1.5rem;
    height:3rem;
    line-height:3rem;
}



.controlHeader {
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #000;
}

.controlHeader .back {
    float: left;
    line-height: 3rem;
    padding: 0 1rem;
}

.floatBtn {
    position: fixed;
    border: 1px solid #000;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    width: 5rem;
    border-radius: 50%;
    background: lightblue;
    top: 50%;
    right: 5%;
}


/*¸Ü¸Ë*/
.nail {
    height: 0.8rem;
    background: #c9ced6;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    position: relative;
}

.nail:before, .nail:after {
    content: "";
    background: white;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 0.2rem;
}

.nail:before {
    left: 0.2rem;
}

.nail:after {
    right: 0.2rem;
}

/**/
.toiletPaper{
    background: #fff url(../img/login/sp_bgimg.png) 0 -3.25rem repeat-x;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0.4rem 2rem rgba(202, 208, 216, 0.3);
}